# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem

# latex files
*.aux
*.bbl
*.blg
*.log
*.out
# *.pdf
*.toc
*.synctex.gz
*.gz
*.run.xml
*pdfa.xmpi